<table class="table">
  <thead>
    <tr>
      <th scope="col">clientname</th>
      <th scope="col">userphone</th>
      <th scope="col">userdate</th>
      <th scope="col">master</th>
      <th scope="col">color</th>
    </tr>
  </thead>
  <tbody>
<% @results.each do |row| %>
    <tr>
      <td><%= row['username'] %></td>
      <td><%= row['phone'] %></td>
      <td><%= row['datestamp'] %></td>
      <td><%= row['master'] %></td>
      <td style ="background-color:<%= row['color'] %> "><%= row['color'] %></td>
    </tr>
<% end %>
  </tbody>
</table>

